<launch>
<!-- <node name="spawn_table" pkg="gazebo_ros" type="spawn_model"
     args="-file /home/stevenjj/.gazebo/models/table/model.sdf -sdf -model table_1 -x 2.0 -z 0" respawn="false" output="screen" />
  --> 
 <node name="spawn_table" pkg="gazebo_ros" type="spawn_model"
     args="-file $(find hw3)/models/table.sdf -sdf -model table_2 -x -2.0 -z 0" respawn="false" output="screen" />
 

 </launch>
